


display: flex; 
text-align: center;  
justify-content: center;  
align-items: center;  


border: 1px solid rgb(240, 240, 240); 
background-color: rgb(240, 240, 240 , 0.4); 
border-radius: 50px;  
margin: 10px;   
box-shadow: 0 4px 25px rgba(0, 0, 0, 0.5); 